<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Multi Mobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location data is required for full use of APU Mobile</string>
	<key>PrefersOpenGL</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
        <dict>
            <key>UIApplicationShortcutItemType</key>
                <string>kyle</string>
            <key>UIApplicationShortcutItemTitle</key>
                <string>Mobile-Kyle</string>
            <key>UIApplicationShortcutItemIconFile</key>
                <string>kyleIcon</string>
        </dict>
        <dict>
            <key>UIApplicationShortcutItemType</key>
                <string>monte</string>
            <key>UIApplicationShortcutItemTitle</key>
                <string>Mobile-Monte</string>
            <key>UIApplicationShortcutItemIconFile</key>
                <string>monteIcon</string>
        </dict>
        <dict>
            <key>UIApplicationShortcutItemType</key>
                <string>test</string>
            <key>UIApplicationShortcutItemTitle</key>
                <string>Mobile-Test</string>
            <key>UIApplicationShortcutItemIconFile</key>
                <string>testIcon</string>
        </dict>
        <dict>
            <key>UIApplicationShortcutItemType</key>
                <string>beta</string>
            <key>UIApplicationShortcutItemTitle</key>
                <string>Mobile-Beta</string>
            <key>UIApplicationShortcutItemIconFile</key>
                <string>betaIcon</string>
        </dict>
	</array>
</dict>
</plist>
