<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APU Mobile (iOS 10).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CF846B41EEF09DF002EC309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CF846C81EEF09E0002EC309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CF846D31EEF09E0002EC309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
